/* line 15, ../scss/common.scss */
.clearfix:after {
  clear: both;
}

@keyframes setup-visible {
  /* line 20, ../scss/common.scss */
  0% {
    transform: translate3d(0, -100%, 0);
  }

  /* line 23, ../scss/common.scss */
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes setup-visible {
  /* line 29, ../scss/common.scss */
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }

  /* line 32, ../scss/common.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes clocks-visible {
  /* line 38, ../scss/common.scss */
  0% {
    transform: translate3d(0, 0, 0);
  }

  /* line 41, ../scss/common.scss */
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes clocks-visible {
  /* line 47, ../scss/common.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 50, ../scss/common.scss */
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
