@font-face {
  font-family: 'monologue_black_ssiblack';
  src: url("../fonts/monologue_black/monologue_black_ssi_black-webfont.eot");
  src: url("../fonts/monologue_black/monologue_black_ssi_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monologue_black/monologue_black_ssi_black-webfont.woff") format("woff"), url("../fonts/monologue_black/monologue_black_ssi_black-webfont.ttf") format("truetype"), url("../fonts/monologue_black/monologue_black_ssi_black-webfont.svg#monologue_black_ssiblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?38336672");
  src: url("../fonts/fontello/fontello.eot?38336672#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff?38336672") format("woff"), url("../fonts/fontello/fontello.ttf?38336672") format("truetype"), url("../fonts/fontello/fontello.svg?38336672#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
