@import 'reset.scss';
@import 'common.scss';
@import 'fonts.scss';

//@import 'ceaser-easings.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'monologue_black_ssiblack';
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;

  #setup-panel {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    background: url('../img/white_stripe.png'), linear-gradient(to right, #000000 0%, #8c8c8c 65%, #ffffff 100%);
    @extend %translateZ;

    h1 {
      font-size: 8.5vh;
      font-weight: normal;
      color: white;
      text-align: center;
      letter-spacing: 2px;
      background: linear-gradient(to right, rgba(63, 63, 63, 0.50) 0%, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.75) 70%, rgba(63, 63, 63, 0.50) 100%);
      width: 100%;
      height: 12vh;
      margin: 0;
      padding: .7vh 0 0 0;
    }

    h3 {
      font-size: 6vh;
      height: 10vh;
      margin: 0;
      display: none;
    }

    #play-times-wrap {
      width: 100%;
      height: 44vh;
      margin: 0 0 2vh 0;
      overflow: hidden;
      clear: both;

      .time-display {
        float: left;
        width: 45vw;
        height: 36vh;
        margin: 4vh 2.5vw;
        background-color: white;

        .time-incrementer {
          float: left;
          border: none;
          height: 36vh;
          width: 15vw;

          .increment-button {
            font-size: 7vh;
            text-align: center;
            border-right: 1px solid black;
            height: 8vh;
            margin: 0;
            padding: 0;
            -webkit-user-select: none;
          }
        }

        .time-incrementer:last-of-type {

          .increment-button {
            border: none;
          }
        }

        input[type=number] {
          font-family: 'monologue_black_ssiblack';
          font-size: 15vh;
          text-align: center;
          width: 15vw;
          height: 20vh;
          border: none;
          padding: 0;
          background: none;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      #p1.time-display {
        margin-right: 2vw;
      }

      #p2 {
        margin-left: 2vw;
        background-color: black;
        color: white;

        .increment-button {
          border-color: white;
        }

        input[type=number] {
          color: white;
        }
      }
    }

    #mode-wrap {
      width: 42vw;
      height: 25vh;
      float: left;
      font-size: 2.5vw;
      padding: 0 2vw 0 3vw;

      .menu-wrapper {
        margin-bottom: 5vh;

        label {
          display: inline-block;
          width: 16vw;
          text-align: right;
        }

        select {
          width: 19.2vw;
          font-family: inherit;
          border-radius: 0;
          border: 0;
          outline: 0;
          padding: 0 .5vw;
          margin: 0;
          font-size: 2.5vw;
          background-color: rgba(255, 255, 255, .5);
          -webkit-appearance: none;
        }

        option {
          border-bottom: 1px solid black;
        }
      }

      .hidden {
        display: none;
      }
    }

    //    Need to add clearFix after #settings-wrap
    #settings-wrap {
      //      width: 50%;
      height: 25vh;
      float: left;
      font-size: 2.5vw;
      padding: 0 3vw 0 2vw;

      label {
        display: inline-block;
      }

      input[type="checkbox"] {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        line-height: 0;
        font-size: 2.5vw;
        background: none;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin: 0 .2em 3.5vh 0;
        text-align: left;
        -webkit-appearance: none;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        border: 0;
        outline: 0;
      }

      input[type="checkbox"]:before {
        content: '\e804';
      }
      input[type="checkbox"]:checked:before {
        content: '\e801';
      }
    }

    #buttons-wrap {
      height: 18vh;
      clear: left;
      padding: 1vh 4vw 3vw 3vw;

      .setup-button {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        cursor: pointer;
        float: left;
        margin: 0 5px;
        padding: 0 1vh;
        min-height: 8vh;
        min-width: 18vh;
        text-align: center;
        font-size: 4vh;
        line-height: 8vh;
      }

      #set-button {
        background-color: green;
        margin-left: 0;
      }

      #resume-button {
        background-color: red;

        &.disabled {
          background-color: rgba(255,0,0,.5);
          pointer-events: none;
          color: rgba(0,0,0,.25);
          }
      }

      #info-button {
        width: 8vh;
        height: 8vh;
        padding: 2vh 0;
        float: right;
        background: rgba(255,255,255,.15);
        text-align: center;
        box-shadow: inset 0 0 0 6px rgba(0,0,0, .6);

        img {
          height: 100%;
        }
      }
    }

    #time-setter {
      display: none;
    }

    #mode-descriptions {
      display: none;
    }
  }

#overlay-mask {
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 75, 75, .75);
  display: none;

  &.shown {
    display: block;
  }

  #info-wrapper {
    position: absolute;
    z-index: 550;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    max-height: 80vh;
    padding: 5vh 7vw;
    -webkit-border-radius: 5vh;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px;

    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    #info-content {
      overflow-y: scroll;
      max-height: 70vh;
      padding-right: 10px;
      -webkit-overflow-scrolling: touch;
    }

    h3 {
      font-size: 200%;
      margin: 2vh 0 1.25vh;
    }

    dl {
      margin: 0 0 1vh;
      dt {
        font-size: 150%;
      }

      dd {
        margin-bottom: 1.25vh;
        font-size: 125%;
      }
    }

    p {
      font-size: 125%;
      margin: 0 0 1.25vh;
    }




  }
}

  #clocks-panel {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    //background: linear-gradient(30deg, #FFF, #000);
    overflow: hidden;
    @extend %translateZ;

    .clock-wrap {
      position: absolute;
      z-index: 5;
      top: 0;
      width: 100vh;
      height: 50vw;

      .clock-sm {
        position: absolute;
        top: 7vw;
        right: 2vw;
        font-size: 5vw;
        text-align: center;
        padding: 0 1vw;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        line-height: 1.2;
      }

      .clock-sm:before {
        content: 'Opponent';
        display: block;
        margin: 1vh 0 0 0;
        padding: 0;
        text-align: left;
        font-size: 2vw;
      }

      .clock-lg {
        position: absolute;
        bottom: 12vw;
        width: 100%;
        font-size: 11vw;
        text-align: center;
        text-shadow: rgba(0, 0, 0, .5) 3px 3px 5px;
      }

      .clock-lg.active {
        background: url('../img/stop_watch.png') no-repeat 15% 50%;
      }

      .clock-lg.inOvertime {
        color: red;
      }

      .message {
        position: absolute;
        bottom: 5vw;
        width: 90vh;
        height: 6.5vh;
        line-height: 6.5vh;
        margin: 0 5vh;
//        padding: 1vh 1vh 1.5vh 1vh;
        font-size: 3vw;
        text-align: center;
        display: none;
      }

      .message.shown {
        display: block;
      }
    }

    #clock-p1 {
      color: black;
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: left top;
      left: 50vw;
      background: url('../img/white_stripe.png'), -webkit-gradient(linear, left bottom, right top, from(#000000), to(#FFFFFF));

      .clock-sm {
        color: white;
        background-color: black;
      }

      .message {
        color: white;
        background-color: rgba(0, 0, 0, .5);
      }
    }

    #clock-p2 {
      color: white;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: right top;
      right: 50vw;
      background: url('../img/black_stripe.png'), -webkit-gradient(linear, left bottom, right top, from(#000000), to(#FFFFFF));

      .clock-sm {
        color: black;
        background-color: white;
      }

      .message {
        color: black;
        background-color: rgba(255, 255, 255, .5);
      }
    }

    .timer-buttons {
      position: absolute;
      z-index: 10;
      top: .5vh;
      left: 45vw;
      width: 10vw;
      height: 99vh;

      .timer-btn {
        color: white;
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(255, 255, 255, .9) inset, -2px -2px 4px rgba(0, 0, 0, .9) inset;
      }

      #timer-btn {
        height: 84vh;
        display: none;
        margin: 0 0 .5vw 0;
        background-repeat: no-repeat, no-repeat;
        background-position: top right, bottom left;
        background-size: 200%, 200%;
      }

      #timer-btn.start {
        background-color: green;
        display: block;
        background-image: url('../img/start.png'), url('../img/start.png');
      }

      #timer-btn.pause {
        background-color: red;
        display: block;
        background-image: url('../img/pause.png'), url('../img/pause.png');
      }

      #timer-btn.ended {
        background-color: red;
        display: block;
        background-image: url('../img/ended_bk.png'), url('../img/ended_bk.png');
      }

      #timer-btn.resume {
        background-color: #add8e6;
        display: block;
        background-image: url('../img/resume.png'), url('../img/resume.png');
      }

      #setup-btn {
        height: 14vh;
        background-color: blue;
        background-image: url('../img/setup.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
      }
    }
  }
}

#main.setup-visible {
  #setup-panel, #clocks-panel {
    animation: setup-visible 0.5s;
    -moz-animation: setup-visible 0.5s;
    -webkit-animation: setup-visible 0.5s;
    animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value */
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

#main.clocks-visible {
  #setup-panel, #clocks-panel {
    animation: clocks-visible 0.5s;
    -moz-animation: clocks-visible 0.5s;
    -webkit-animation: clocks-visible 0.5s;
    animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value */
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}