<div class="menu-wrapper" id="mode-menu-wrapper">
    <label>Clock Mode:</label>
    <select id="mode-menu" name="modeMenu">
        <option value="Sudden_Death">Sudden Death</option>
        <option value="Bronstein">Bronstein</option>
        <option value="Fischer">Fischer</option>
        <option value="Simple_Delay">Simple Delay</option>
        <option value="Word_Game">Word Game</option>
    </select>
</div>
<div class="menu-wrapper hidden" id="delay-menu-wrapper">
    <label>Delay Time:</label>
    <select id="delay-menu" name="delayMenu">
        <option value="1000">1 Second</option>
        <option value="2000">2 Seconds</option>
        <option value="3000">3 Seconds</option>
        <option value="4000">4 Seconds</option>
        <option value="5000" selected>5 Seconds</option>
        <option value="6000">6 Seconds</option>
        <option value="7000">7 Seconds</option>
        <option value="8000">8 Seconds</option>
        <option value="9000">9 Seconds</option>
        <option value="10000">10 Seconds</option>
    </select>
</div>