<div id="overlay-mask">
    <div id="info-wrapper">
        <div class="close-button">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40">
                <path d="M29.9,14.1c0,0.4-0.2,0.8-0.5,1.2L24.7,20l4.7,4.7c0.3,0.3,0.5,0.7,0.5,1.2c0,0.5-0.2,0.9-0.5,1.2l-2.4,2.3
	c-0.3,0.3-0.7,0.5-1.2,0.5c-0.5,0-0.9-0.2-1.2-0.5L20,24.7l-4.7,4.7c-0.3,0.3-0.7,0.5-1.2,0.5s-0.9-0.2-1.2-0.5l-2.3-2.3
	c-0.3-0.3-0.5-0.7-0.5-1.2c0-0.4,0.2-0.8,0.5-1.2l4.7-4.7l-4.7-4.7c-0.3-0.3-0.5-0.7-0.5-1.2c0-0.5,0.2-0.9,0.5-1.2l2.3-2.3
	c0.3-0.3,0.7-0.5,1.2-0.5s0.9,0.2,1.2,0.5l4.7,4.7l4.7-4.7c0.3-0.3,0.7-0.5,1.2-0.5c0.5,0,0.9,0.2,1.2,0.5l2.4,2.3
	C29.7,13.3,29.9,13.7,29.9,14.1z M40,20c0-3.6-0.9-7-2.7-10c-1.8-3-4.2-5.5-7.3-7.3C27,0.9,23.6,0,20,0S13,0.9,9.9,2.7
	S4.4,6.9,2.7,10S0.1,16.4,0,20s0.8,7,2.7,10s4.3,5.5,7.2,7.3S16.2,40,20,40s7.1-0.9,10-2.7s5.3-4.2,7.3-7.3S40.2,23.6,40,20z"/>
            </svg>
        </div>
        <div id="info-content">
            <h3>Clock Modes</h3>

            <p>Chess Clock has five different clock modes for different kinds of play. Some of these modes add time
                to the clock based on what is set in the Delay Time menu.</p>
            <dl>
                <dt>Sudden Death</dt>
                <dd>Sudden Death is the most basic mode. Each player has a fixed amount of time to make their moves.
                    When that time is up, the game is over.
                </dd>
                <dt>Bronstein</dt>
                <dd>In Bronstein delay mode, time is added after the player's turn has completed. If their turn
                    has been longer than or equal to the Delay Time, they will have the full Delay Time added to
                    their clock. If they have used less, their clock will be reset to the value it had at the
                    start of their turn.
                </dd>
                <dt>Fischer</dt>
                <dd>In Fischer, at the start of a player's turn the Delay Time is added to their total time. Time can
                    be accumulated, so if a player's turn is shorter than the Delay Time,
                    the additional time remains and they will end the turn with more time than when they started.
                </dd>
                <dt>Simple Delay</dt>
                <dd>In Simple Delay the clock will wait for the Delay Time to pass before beginning to count down a
                    player's turn. If they complete their turn before the Delay Time has passed, no time is added or
                    subtracted from the player's clock.
                </dd>
                <dt>Word Game</dt>
                <dd>In Word Game mode no time is added at the start or end of a turn,
                    just as in Sudden Death. However, when a player uses up all of their time instead of the clock
                    stopping, it announces that the player is in overtime and starts counting back up.
                </dd>
            </dl>

            <h3>About Chess Clock</h3>

            <p>Chess Clock was designed and created by David Cameron, an independent developer. If you have any feature
                suggestions or would like to report a bug, please send an email to <a href='mailto:sup
                port@flyingacedesign'>support@flyingacedesign.com</a>.
                I&apos;d love to hear from you.</p>

            <p>If you enjoy using this app please review us in the app store and recommend Chess Clock to your friends
                and opponents.</p>

            <p>Chess Clock v1.0 &copy; 2014 Flying Ace Design</p>
        </div>
    </div>
</div>
